.custom-medal-tooltip {
    background-color: #1a150e !important;
    color: #ffeac2 !important;
    border: 1px solid #a9865a !important;
    border-radius: 5px !important;
    padding: 5px 10px !important;
    font-family: 'Press Start 2P', monospace !important;
    font-size: 10px !important;
}

@media (max-width: 768px) {
    .min-h-screen {
        padding: 1rem;
    }

    img[alt="Fishing Banner"] {
        width: 80%;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .flex-col, .sm\:flex-row {
        flex-direction: column;
    }

    .gap-4, .sm\:gap-7 {
        gap: 1rem;
    }

    .px-4, .sm\:px-6 {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .py-8 {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .mb-10 {
        margin-bottom: 2.5rem;
    }

    .mb-6 {
        margin-bottom: 1.5rem;
    }

    .text-lg {
        font-size: 1rem;
    }

    .text-sm {
        font-size: 0.875rem;
    }

    .text-xs {
        font-size: 0.75rem;
    }

    .grid-cols-1, .md\:grid-cols-2 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .gap-x-4 {
        gap: 1rem;
    }
    
    .gap-y-4 {
        gap: 1rem;
    }

    .lg\:col-span-2, .lg\:col-span-1 {
        grid-column: span 1 / span 1;
    }
}