.custom-medal-tooltip {
    background-color: #1a150e !important;
    color: #ffeac2 !important;
    border: 1px solid #a9865a !important;
    border-radius: 5px !important;
    padding: 5px 10px !important;
    font-family: 'Press Start 2P', monospace !important;
    font-size: 10px !important;
}